.error {
    color: black;
    font-size: 1.3rem;
    text-align: center;
    background-color:rgba(255, 0, 0, 0.13);
    padding: 10px;
    margin-top: 10px;
}
.success {
    color: black;
    font-size: 1.3rem;
    text-align: center;
    background-color:rgba(0, 255, 21, 0.13);
    padding: 10px;
    margin-top: 10px;
}